body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #ffffff;
  transition: background-color 0.3s, color 0.3s;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.light-mode {
  background-color: #ffffff;
  color: #000000;
}

button#theme-toggle {
  background-color: #4bc0c0;
  color: #000;
  border: none;
  border-radius: 5px;
}

button#theme-toggle:hover {
  background-color: #36a2eb;
}